<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/views/js/additem.js"></script>
</head>
<body>
    <div class="container">
        <center>
            <h2>Fire SALE</h2>
            <hr>
            <h3><div id="shopName"></div></h3>
            <h3><div id="description"></div></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                <form id= "imageup" method="POST", enctype="multipart/form-data" action="/api/items">
                            <input type="hidden" name="identity" id="identity" value="0">
                            <input type="text" name= "itemName" id="itemName" placeholder="Item Name">
                            <input type="text" name= "price" id= "price" placeholder="price">
                            <input type="text" name= "Inventory" id= "Inventory" placeholder="stock">
                            <input type="file" name="image" id ="image" class="upper">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i> Submit and Add more items!
                    </button>
                 </form>
                </div>
            </div>
            <br><br>
        </center>
        <input type="button" value="Finished! Redirect me to my store!" class="btn btn-primary btn-lg btn-block" id="redirect" onclick="return btn_click()"><i class="fa fa-check-circle" aria-hidden="true"></i> 
        <hr>
        <footer class="footer">
            <div class="container">
                <p><a href="/api/friends">API Friends List</a> | <a href="https://github.com/AlexHimchak/fireSale">GitHub Repo</a></p>
            </div>
        </footer>
    </div>
</body>

<style type="text/css">
body {
    background: url('https://s-media-cache-ak0.pinimg.com/originals/8f/28/e6/8f28e6ed576544805406f9c09ad950e6.jpg') no-repeat center center fixed!important;
    color: black !important;
}

.form-control {
    background-color: #ffdab3;
}
</style>

</html>
