<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Myshop</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/views/js/myshop.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center"> </h1>
            <div id="name"></div>
            <div id="description"></div>
            <hr>
            <h2 class="text-center"></h2>
            <br>
        </div>

        <div id="holder"></div>
        
        <div class="row" id="description">
        </div>
        <footer class="footer">
            <div class="container">
                <p><a href="/api/shops">API Shop</a> | <a href="https://github.com/AlexHimchak/fireSale">GitHub Repo</a></p>
            </div>
        </footer>
    </div>
</body>

<style type="text/css">
body {
    background: url('http://blacktie.co/demo/premium/dashio/frontend/demos/sliderbg_02.png') no-repeat center center fixed!important;
    background-size: cover !important;

}

.jumbotron {

    color: black;
}

#name {
    text-align: center;
    font-size: 70px;
}

#description {
    font-size: 40px;
}

#item1,
#item2,
#item3,
#item4 {
    font-size: 30px;
}
</style>

</html>